.inputContainer {
  margin: 18px 0;
  width: 100%;
}
.formLabel {
  color: #727272;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
}
.required {
  color: #ff0000;
  display: inline-block;
  margin-left: 4px;
}
.formInput {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-size: 1.4rem;
  height: 40px;
  margin-top: 5px;
  padding: 0 12px;
  width: 100%;
}
.formInput:focus {
  border: 1px solid #3367d6;
  outline: none;
}

.formInput[type='number']::-webkit-outer-spin-button,
.formInput[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formInput[type='number'] {
  -moz-appearance: textfield;
}
